.elf {
  position: absolute;
  z-index: 2;

  align-items: center;

  width: 300px;
  height: 64px;
  bottom: 10px;
  left: 20px;

  &__image {
    width: 64px;
    height: 64px;
  }

  &:hover > &__popup {
    opacity: 1;
  }

  &__popup {
    margin-left: 18px;

    transition: all 300ms ease;
    opacity: 0;

    &__title {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
  }
}