.footer {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  position: absolute;
  bottom: 10px;

  &__link {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
