@keyframes wobble {
  0%, 40% {
    transform: rotate(0);
  }

  10% {
    transform: rotate(10deg) scale(1.1);
  }

  20% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(5deg);
  }
}

.present {
  width: 150px;

  cursor: pointer;

  animation: wobble 2s ease;
  animation-iteration-count: infinite;
}